body{
    background-color:#FFECF5;
    font-family: MingLiU, 'Microsoft Yahei';
}
hr{
    border-top:1px solid #888;
}
label{
    font-weight:500;
}
#main{
    margin-bottom:2em;
}
#show{
    width:100%;
}
#show .item{
    background-color:#fff;
    width:45%;
}
#show .mainImg{
    width:100%;
}

a:hover{
    text-decoration:none;
}
#main .line a{
    float:right;
}